<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="js/main.js"></script>
</head>
<body>
    <div id="app">
       <div class="container">
           <div class="message">
                <div class="title">Мысли...</div>
               <span>Введите сообщение:</span>
               <div class="message-container">
                    <textarea @input="checkCount" name="message" id="currentMessage" cols="30" rows="10" v-model="currentMessage"></textarea>
                    <div :class="{ warning: countSymbols > maxSymbols }" class="symbols" id="countSymbols">Всего: {{countSymbols}} из {{maxSymbols}}</div>
               </div>
               <div class="send">
                    <button id="btnSend" @click="sendMessage">Опубликовать</button>
                    <div class="warning" v-if="isActive">{{ status }}</div>
               </div>
               <div class="messages">
                   <div @dblclick="deleteMessage(index)" class="message-item" v-for="(item, index) in messages">
                       <p>{{ item.message }} </p>
                       <div class="time"> {{ item.time }} </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</body>
</html>