<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="js/main.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="title">Список заметок</div>

            <div class="input">
                <input type="text" v-model="nameNote" placeholder="Введите название..." @input="checkCountSymbols">
                <button @click="[addNote]">Добавить</button>
            </div>
            <div id="status" v-show="isActive"> {{status}} </div>
            <div class="notes">
                <div v-for="(item, index) in notes" class="note">
                    <div class="note-title">{{ item }}</div>
                    <div class="btnDelete" @click="deleteNote(index)"><img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/56-512.png" alt=""></div>
                </div>
            </div>
            <div id="count">Общее количество заметок: {{checkCountNotes}} </div>
        </div>
    </div>
</body>
</html>